TTS_2019/Service References/BLL.UC_CarOrder/UC_CarOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UC_CarOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51039/BLL.TrainOrder.UC_CarOrder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51039/BLL.TrainOrder.UC_CarOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51039/BLL.TrainOrder.UC_CarOrder.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectTrainType_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectTrainType" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectTrainType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectTrainTypeResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectOrder" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectOrderDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectOrderDetail" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectOrderDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectOrderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectTrainByOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectTrainByOrderID" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectTrainByOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectTrainByOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectTrainByOrderUsingNo_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectTrainByOrderUsingNo" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_SelectTrainByOrderUsingNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_SelectTrainByOrderUsingNoResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_InsertOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_InsertOrder" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_InsertOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_InsertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_InsertOrderDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_InsertOrderDetail" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_InsertOrderDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_InsertOrderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_UpdateTrainOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_UpdateTrainOrderID" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_UpdateTrainOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_UpdateTrainOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_DeleteOrderDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_DeleteOrderDetail" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_DeleteOrderDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_DeleteOrderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_DUpdateTrainOrderID_InputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_DUpdateTrainOrderID" />
  </wsdl:message>
  <wsdl:message name="UC_CarOrder_UserControl_Loaded_DUpdateTrainOrderID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserControl_Loaded_DUpdateTrainOrderIDResponse" />
  </wsdl:message>
  <wsdl:portType name="UC_CarOrder">
    <wsdl:operation name="UserControl_Loaded_SelectTrainType">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainType" message="tns:UC_CarOrder_UserControl_Loaded_SelectTrainType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainTypeResponse" message="tns:UC_CarOrder_UserControl_Loaded_SelectTrainType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectOrder" message="tns:UC_CarOrder_UserControl_Loaded_SelectOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectOrderResponse" message="tns:UC_CarOrder_UserControl_Loaded_SelectOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectOrderDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectOrderDetail" message="tns:UC_CarOrder_UserControl_Loaded_SelectOrderDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectOrderDetailResponse" message="tns:UC_CarOrder_UserControl_Loaded_SelectOrderDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectTrainByOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainByOrderID" message="tns:UC_CarOrder_UserControl_Loaded_SelectTrainByOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainByOrderIDResponse" message="tns:UC_CarOrder_UserControl_Loaded_SelectTrainByOrderID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectTrainByOrderUsingNo">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainByOrderUsingNo" message="tns:UC_CarOrder_UserControl_Loaded_SelectTrainByOrderUsingNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainByOrderUsingNoResponse" message="tns:UC_CarOrder_UserControl_Loaded_SelectTrainByOrderUsingNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_InsertOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_InsertOrder" message="tns:UC_CarOrder_UserControl_Loaded_InsertOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_InsertOrderResponse" message="tns:UC_CarOrder_UserControl_Loaded_InsertOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_InsertOrderDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_InsertOrderDetail" message="tns:UC_CarOrder_UserControl_Loaded_InsertOrderDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_InsertOrderDetailResponse" message="tns:UC_CarOrder_UserControl_Loaded_InsertOrderDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_UpdateTrainOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_UpdateTrainOrderID" message="tns:UC_CarOrder_UserControl_Loaded_UpdateTrainOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_UpdateTrainOrderIDResponse" message="tns:UC_CarOrder_UserControl_Loaded_UpdateTrainOrderID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_UpdateOrder" message="tns:UC_CarOrder_UserControl_Loaded_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_UpdateOrderResponse" message="tns:UC_CarOrder_UserControl_Loaded_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DeleteOrder" message="tns:UC_CarOrder_UserControl_Loaded_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DeleteOrderResponse" message="tns:UC_CarOrder_UserControl_Loaded_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_DeleteOrderDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DeleteOrderDetail" message="tns:UC_CarOrder_UserControl_Loaded_DeleteOrderDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DeleteOrderDetailResponse" message="tns:UC_CarOrder_UserControl_Loaded_DeleteOrderDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_DUpdateTrainOrderID">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DUpdateTrainOrderID" message="tns:UC_CarOrder_UserControl_Loaded_DUpdateTrainOrderID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DUpdateTrainOrderIDResponse" message="tns:UC_CarOrder_UserControl_Loaded_DUpdateTrainOrderID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL.TrainOrder.UC_CarOrder" type="tns:UC_CarOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserControl_Loaded_SelectTrainType">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectOrder">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectOrderDetail">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectTrainByOrderID">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainByOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_SelectTrainByOrderUsingNo">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_SelectTrainByOrderUsingNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_InsertOrder">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_InsertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_InsertOrderDetail">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_InsertOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_UpdateTrainOrderID">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_UpdateTrainOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_DeleteOrderDetail">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DeleteOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserControl_Loaded_DUpdateTrainOrderID">
      <soap:operation soapAction="http://tempuri.org/UC_CarOrder/UserControl_Loaded_DUpdateTrainOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UC_CarOrder">
    <wsdl:port name="BLL.TrainOrder.UC_CarOrder" binding="tns:BLL.TrainOrder.UC_CarOrder">
      <soap:address location="http://localhost:51039/BLL.TrainOrder.UC_CarOrder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>