TTS_2019/Service References/BLL.UC_CreateLine/BLL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserControl_Loaded_SelectStationManage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectStationManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectStationManageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectSite_FromSiteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intsite_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectSite_FromSiteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectSite_FromSiteIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectProvinceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strsite_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strshort_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strfull_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intpro_id" type="xs:int" />
        <xs:element minOccurs="0" name="blstop_no" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_InsertStationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertNeighborSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intsite_id" type="xs:int" />
        <xs:element minOccurs="0" name="intneighbor_site_id" type="xs:int" />
        <xs:element minOccurs="0" name="decdistance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertNeighborSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_InsertNeighborSiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intsite_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_DeleteStationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteNeighborSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intsite_neighbor_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteNeighborSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_DeleteNeighborSiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_StopSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intsite_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_StopSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_StopSiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_UpdateStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strsite_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strshort_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strfull_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intpro_id" type="xs:int" />
        <xs:element minOccurs="0" name="blstop_no" type="xs:boolean" />
        <xs:element minOccurs="0" name="intsite_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_UpdateStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_UpdateStationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectStationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectLineResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectDetailLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intline_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectDetailLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectDetailLineResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectSite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectSiteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strline_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strsimple_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmileage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blstop_no" type="xs:boolean" />
        <xs:element minOccurs="0" name="strnote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_InsertLineResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertDetailLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intline_id" type="xs:int" />
        <xs:element minOccurs="0" name="intsite_id" type="xs:int" />
        <xs:element minOccurs="0" name="intranking_sitea_id" type="xs:int" />
        <xs:element minOccurs="0" name="dedistance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_InsertDetailLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_InsertDetailLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intline_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_DeleteLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteDetailLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intdetailed_line_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_DeleteDetailLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_DeleteDetailLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_UpdateLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blstop_no" type="xs:boolean" />
        <xs:element minOccurs="0" name="intline_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_UpdateLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_UpdateLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>