TTS_2019/Service References/BLL.UC_UpdatePassword/UC_UpdatePassword.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UC_UpdatePassword" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51039/BLL.SystemInformation.UC_UpdatePassword.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51039/BLL.SystemInformation.UC_UpdatePassword.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51039/BLL.SystemInformation.UC_UpdatePassword.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UC_UpdatePassword_UpdatePassword_Loaded_SelectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Loaded_SelectUser" />
  </wsdl:message>
  <wsdl:message name="UC_UpdatePassword_UpdatePassword_Loaded_SelectUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Loaded_SelectUserResponse" />
  </wsdl:message>
  <wsdl:message name="UC_UpdatePassword_UpdatePassword_Loaded_Selectpassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Loaded_Selectpassword" />
  </wsdl:message>
  <wsdl:message name="UC_UpdatePassword_UpdatePassword_Loaded_Selectpassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Loaded_SelectpasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UC_UpdatePassword_UpdatePassword_Loaded_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Loaded_UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UC_UpdatePassword_UpdatePassword_Loaded_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword_Loaded_UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="UC_UpdatePassword">
    <wsdl:operation name="UpdatePassword_Loaded_SelectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_SelectUser" message="tns:UC_UpdatePassword_UpdatePassword_Loaded_SelectUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_SelectUserResponse" message="tns:UC_UpdatePassword_UpdatePassword_Loaded_SelectUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Loaded_Selectpassword">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_Selectpassword" message="tns:UC_UpdatePassword_UpdatePassword_Loaded_Selectpassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_SelectpasswordResponse" message="tns:UC_UpdatePassword_UpdatePassword_Loaded_Selectpassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Loaded_UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_UpdatePassword" message="tns:UC_UpdatePassword_UpdatePassword_Loaded_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_UpdatePasswordResponse" message="tns:UC_UpdatePassword_UpdatePassword_Loaded_UpdatePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLL.SystemInformation.UC_UpdatePassword" type="tns:UC_UpdatePassword">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePassword_Loaded_SelectUser">
      <soap:operation soapAction="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_SelectUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Loaded_Selectpassword">
      <soap:operation soapAction="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_Selectpassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword_Loaded_UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/UC_UpdatePassword/UpdatePassword_Loaded_UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UC_UpdatePassword">
    <wsdl:port name="BLL.SystemInformation.UC_UpdatePassword" binding="tns:BLL.SystemInformation.UC_UpdatePassword">
      <soap:address location="http://localhost:51039/BLL.SystemInformation.UC_UpdatePassword.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>