TTS_2019/Service References/BLL.UC_StaffAccountManage/BLL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserControl_Loaded_SelectStaffAccountManage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserControl_Loaded_SelectStaffAccountManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserControl_Loaded_SelectStaffAccountManageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Window_Loaded_SelectStaffManage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Window_Loaded_SelectStaffManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Window_Loaded_SelectStaffManageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Window_Loaded_SelectUserGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Window_Loaded_SelectUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Window_Loaded_SelectUserGroupResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_Affirm_Click_InsertStaffAccountManage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intID" type="xs:int" />
        <xs:element minOccurs="0" name="intgroup_id" type="xs:int" />
        <xs:element minOccurs="0" name="strAccounts" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blEffective" type="xs:boolean" />
        <xs:element minOccurs="0" name="strNote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_Affirm_Click_InsertStaffAccountManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btn_Affirm_Click_InsertStaffAccountManageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Window_Loaded_USelectStaffManage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Window_Loaded_USelectStaffManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Window_Loaded_USelectStaffManageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_Affirm_Click_UpdateStaffAccountManage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intStaffID" type="xs:int" />
        <xs:element minOccurs="0" name="intGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="strAccounts" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blEffective" type="xs:boolean" />
        <xs:element minOccurs="0" name="strNote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intOperatorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_Affirm_Click_UpdateStaffAccountManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btn_Affirm_Click_UpdateStaffAccountManageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_Affirm_Click_DeleteStaffAccountManage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOperatorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_Affirm_Click_DeleteStaffAccountManageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btn_Affirm_Click_DeleteStaffAccountManageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSave_Click_SeleteStaffId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStaffName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSave_Click_SeleteStaffIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnSave_Click_SeleteStaffIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSave_Click_SeletePGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSave_Click_SeletePGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnSave_Click_SeletePGroupIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>