TTS_2019/Service References/BLL.PublicFunction/BLL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PublicPagingSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTblName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strGetFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intPageSize" type="xs:int" />
        <xs:element minOccurs="0" name="intPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="blDoCount" type="xs:boolean" />
        <xs:element minOccurs="0" name="blOrderType" type="xs:boolean" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicPagingSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublicPagingSelectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystem_operation_log">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operator_id" type="xs:int" />
        <xs:element minOccurs="0" name="as_operation_type_id" type="xs:int" />
        <xs:element minOccurs="0" name="operational_context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operation_time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystem_operation_logResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSystem_operation_logResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>